@import '../../App.scss';

.signUp {
    padding: 2rem 0;

    &__section {
        &-title {
            text-align: center;
            margin-bottom: 2rem;

            h1 {
                font-family: $semiB;
                font-size: 3rem;
                color: $mainTxt;
            }

            p {
                font-family: $regular;
                font-size: 1.2rem;
                color: $mainTxt;
            }
        }

        &-form {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2rem;

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .input {
                    display: flex;
                    flex-direction: column-reverse;
                    position: relative;

                    input {
                        width: 350px;
                        padding: 1rem 2rem;
                        margin: 2rem;

                        background-color: transparent;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid #595959;

                        font-family: $regular;
                        font-size: 1.125rem;
                        color: $mainTxt;

                        z-index: 1;
                        color: $mainTxt;

                        transition: .3s ease;

                        &:hover {
                            border-bottom: 1px solid $hoverColor;
                        }

                        &:focus,
                        &:valid {
                            &+label {
                                color: $hoverColor;
                                transform: translateY(-30px);
                                font-size: 0.9rem;
                            }
                        }

                        background-position: center right;
                        background-repeat: no-repeat;
                        background-size: 22px;

                    }

                    #name {
                        background-image: url('../../../public/images/User.svg');
                    }

                    #email {
                        background-image: url('../../../public/images/At_sign.svg');
                    }

                    #password {
                        background-image: url('../../../public/images/Eye.svg');
                    }

                    label {
                        position: absolute;
                        top: 48px;
                        left: 32px;
                        transition: all .3s;

                        font-family: $regular;
                        font-size: 1.125rem;
                        color: $mainTxt;
                    }
                }

                button {
                    width: 350px;
                    padding: 1rem 2rem;
                    margin: 2rem;

                    cursor: pointer;
                    border: none;
                    border-radius: 0.4rem;
                    background-color: $btnColor;

                    font-family: $regular;
                    font-size: 1.125rem;
                    color: $mainTxt;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        &-footer_title {
            text-align: center;
            margin-bottom: 2rem;

            h1 {
                font-family: $semiB;
                font-size: 2.5rem;
                color: $mainTxt;
            }

            p {
                font-family: $regular;
                font-size: 1.2rem;
                color: $mainTxt;
            }
        }

        &-other_ways-signUp {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            margin-bottom: 2rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 320px;
                margin: 1rem;
                padding: 0.5rem 1.5rem;

                border: 1px solid $mainTxt;
                border-radius: 0.4rem;

                font-family: $regular;
                font-size: 0.9rem;
                color: $mainTxt;
                transition: .3s ease;

                &:hover {
                    border: 1px solid $hoverColor;
                }

                img {
                    width: 28px;
                    margin-right: 15px;
                }
            }
        }

        &-footer_link {
            text-align: center;

            a {
                font-family: $medium;
                font-size: 0.85rem;
                color: $mainTxt;
                transition: .3s;

                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .signUp {
        &__section {
            &-title {
                h1 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.1rem;
                }
            }

            &-form {
                width: 100%;

                form {

                    .input {
                        input {
                            width: 280px;
                            padding: 1rem 1.5rem;

                            font-size: 1rem;

                            &:focus,
                            &:valid {
                                &+label {
                                    color: $hoverColor;
                                    transform: translateY(-30px);
                                    font-size: 0.8rem;
                                }
                            }

                            background-size: 19px;
                        }

                        label {
                            font-size: 1rem;
                        }
                    }

                    button {
                        width: 280px;
                        padding: 1rem 1.5rem;

                        font-size: 1rem;
                    }
                }
            }

            &-footer_title {
                h1 {
                    font-size: 2.2rem;
                }

                p {
                    font-size: 1.1rem;
                }
            }

            &-other_ways-signUp {
                a {
                    width: 280px;
                    padding: 0.5rem 1.2rem;

                    font-size: 0.85rem;
                }

                img {
                    width: 25px;
                    margin-right: 12px;
                }
            }

            &-footer_link {
                a {
                    font-size: 0.8rem;
                }
            }
        }

    }
}

@media(max-width:768px) {
    .signUp {
        &__section {
            &-title {
                h1 {
                    font-size: 2.2rem;
                }

                p {
                    font-size: 1rem;
                }
            }

            &-form {
                margin-bottom: 0.5rem;

                form {
                    .input {
                        input {
                            width: 360px;
                        }
                    }

                    button {
                        width: 240px;
                    }
                }
            }

            &-footer_title {
                margin-bottom: 1rem;

                h1 {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1rem;
                }
            }

            &-other_ways-signUp {
                a {
                    width: 230px;
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
}

@media(max-width:480px){
    .signUp{
        &__section{
            &-title{
                h1{
                    font-size: 1.8rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
            &-form{
                margin-bottom: 0;

                form{
                    .input{
                        input{
                            width: 240px;
                            padding: 0.8rem 1.1rem;

                            font-size: 0.9rem;

                            &:focus,
                            &:valid {
                                &+label {
                                    font-size: 0.7rem;
                                }
                            }
                            background-size: 17px;
                        }

                        label{
                            font-size: 0.9rem;
                        }
                    }
                    button{
                        width: 200px;
                        padding: 0.8rem 1.1rem;

                        font-size: 0.9rem;
                    }
                }
            }

            &-footer_title{
                h1{
                    font-size: 1.6rem;
                }

                p{
                    font-size: 0.9rem;
                }
            }

            &-other_ways-signUp{
                a{

                    width: 50px;
                    height: 50px;
                    padding: 0;

                    border-radius: 50%;

                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 0;
                    }

                    span{
                        display: none;
                    }
                }
            }
        }
    }
}