@import '../../App.scss';

.experts{
padding: 2rem 0 4rem 0;
    &__section{
        width: 95%;
        margin: 0 auto;
        h1{
            font-family: $semiB;
            font-size: 3rem;
            color: $mainTxt;
            text-align: center;
            margin-bottom: 2rem;
        }
        &-image{
            img{
                width: 100%;
                max-width: 100%;
            }
        }
    }

}

@media(max-width:1024px){
    .experts{
        &__section{
            h1{
                font-size: 2.5rem;
            }
        }
    }
}

@media(max-width:768px){
    .experts{
        padding: 2rem 0 3rem 0;
        &__section{
            h1{
                font-size: 2.2rem;
            }
        }
    }
}

@media(max-width:480px){
    .experts{
        padding: 2rem 0 2rem 0;
        &__section{
            h1{
                font-size: 1.8rem;
            }
        }
    }
}